
main {
   /* margin-bottom: 100px;*/
    margin-left: 5%;
    margin-right: 5%;
}

/*.section{}*/

/*Formatting titre site*/
.alice{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

/*formatting img background*/
.arrierePlan{
background: url("../img/ArrièrePlanSite.jpg");
    background-size: cover;
}

/*formatting img background*/
.arrierePlanTrans{
    background: url("../img/ArrièrePlanSitecClair.jpg") no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/*formatting the footer*/
.footer {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    text-align: center;
    justify-content: space-between;
    }

/*formatting the navbar

.container-fluid {
    position: center;
    display: block;
    width : 100%;
    height: 52px;
    background-color: #a4b197;
}

.navbar {
    position: center;
    display: flex;
    width : 100%;
    height: 42px;
    box-sizing: border-box;
    font-size:18px;
    justify-content: space-between;
    background-color: #a4b197;
}

.navbar .nav-links ul{
    display: flex;
    list-style: none;
    transform: skew(-10deg);
    position: center;
}

.navbar .nav-link ul li {
    margin:0 120px;
}

.collapse{

}

.navbar-collapse {

}
*/

/*test navbar */
nav
{
    margin: 10px auto;
    width: 100%;
    height: 52px;
    background: #a4b197;
}

nav .main_pages
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .main_pages a
{
    display: flex;
    list-style: none;
    position: center;
    text-decoration: none;
    font-size:18px;
    /*width: 20%;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-family: Arial, sans-serif;
    color: white;*/
}

nav a:hover
{
    background: #a4b197
}

label, #toggle
{
    display: none;
}

@media all and (max-width: 991px)
{
    nav
    {
        height: 60px;
    }

    nav .main_pages
    {
        display: none;
        flex-direction: column;
        background: #a4b197;
        height: 220px;
    }

    nav .main_pages a {
        width: 50%;
    }

    label
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: black;
        cursor: pointer;
    }

    #toggle:checked + .main_pages {
        display: flex;
    }
}


/*formating Presentations*/
.presentation{
    font-size: 25px;
    text-align: justify;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
}





/*formatting consultation*/

.container1{
    margin-top: 50px;
}

.row{
}

.col{
}

.ellipse {
    transform: scale(0.90) skew(0deg);
    font-size: x-large;
    border-radius: 250px;
    text-align: center;
    height: 500px;
}

.monPsy{
    height: 660px;
    width: 330px;
    border-radius: 10px;
    padding: 5px;
}

/*formatting modal*/

.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.modal-window:target {
    visibility: visible;
    opacity: 2;
    pointer-events: auto;
}
.modal-window > div {
    width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #cdd3ba;
}


.modal-window header {
    font-weight: bold;
}
.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}
.modal-close:hover {
    color: black;
}

.manifeste{
    margin-left: 35%;
    padding: 10px;
    background:#FFFFFF;
    border-radius: 5px;
    height: 655px;
    width: 350px;
    position: relative;
    transition: all 0.4s ease-in-out;
    align-items: center;
}
/*formatting modal original*/
/*
.box{
    width: 50px;
    margin-left: 48%;
    }

.button{
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.box2{
    width: 200px;
}

.button2{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}


.button:hover{

    color: black;
}*/



/*
.manifeste .cross{
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    transition:0.3s ease;
    color: black;
}

.manifeste .cross:hover{
    color: grey;
}

/*formatting soutien individuel
.soutienIndividuel{
    margin-left: 35%;
    padding: 10px;
    background: #cdd3ba;
    border-radius: 5px;
    height: 550px;
    width: 550px;
   /*inset: 0;
    position: fixed;
    z: 40;*/
   /* transition: all 0.4s ease-in-out;
    align-items: center;
}

.soutienIndividuel .cross{
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    transition:0.3s ease;
    color: black;
}

.soutienIndividuel .cross:hover{
    color: grey;
}

/*formatting psychothérapie
.psychotherapie{
    margin-left: 35%;
    padding: 10px;
    background: #cdd3ba;
    border-radius: 5px;
    height: 550px;
    width: 550px;
    position: relative;
    transition: all 0.4s ease-in-out;
    align-items: center;
}

.psychotherapie .cross{
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    transition:0.3s ease;
    color: black;
}

.psychotherapie .cross:hover{
    color: grey;
}

/*formatting soutien à la parentalité
.parentalité{
    margin-left: 35%;
    padding: 10px;
    background: #cdd3ba;
    border-radius: 5px;
    height: 550px;
    width: 550px;
    position: relative;
    transition: all 0.4s ease-in-out;
    align-items: center;
}

.parentalité .cross{
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    transition:0.3s ease;
    color: black;
}

.parentalité .cross:hover{
    color: grey;
}

/*formatting thérapie de couple
.couple{
    margin-left: 35%;
    padding: 50px;
    background: #cdd3ba;
    border-radius: 5px;
    height: 550px;
    width: 550px;
    position: relative;
    transition: all 0.4s ease-in-out;
    align-items: center;
}

.couple .cross{
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    transition:0.3s ease;
    color: black;
}

.couple .cross:hover{
    color: grey;
}*/


