{%extends 'base.html.twig'%}

{%block title%} Consultations {%endblock%}


{%block body%}
<body class="arrierePlanTrans">

        <div class="container">
            <div class="row">
                <div class="col" style="text-align: justify">
        <p>
        <h2> SOUTIEN INDIVIDUEL</h2>
        Venir consulter n’est pas signe d’échec,
        certains problèmes requièrent d’être pensés avec un professionnel neutre et bienveillant.
        Parfois s’entretenir avec un psychologue peut être nécessaire pour surmonter certaines difficultés.<br><br>

                    <div class="box">
                        <a href="#popup2" class="button">
                            Lire Plus...
                        </a>
                    </div>

<br>
        <p>
        <h2> PSYCHOTHERAPIE</h2>
        Le psychologue est présent pour vous accompagner dans vos réflexions,
        introspections à l’égard de votre histoire personnelle.<br><br>
                    <div class="box">
                        <a href="#popup3" class="button" >
                            Lire Plus...
                        </a>
                    </div>

                </div>

                <div class="col-6 mx-4">

        <p class="ellipse">
            <br>
            Ensemble, nous <br>construirons un cadre sécure afin de <br>vous permettre
                    de cheminer vers un apaisement.
            <br>
            <br>
                    Nous réfléchirons à trouver votre propre grille de lecture afin de
                    promouvoir votre autonomie de pensée et d'action.
            <br>
            <br>
                Nous travaillerons à renforcer vos ressources et <br> vous libérer de fonctionnements
                    délétères.
            </p>
                </div>



<div class="col" style="text-align: justify">
        <p>
        <h2>SOUTIEN A LA PARENTALITE</h2>
            La plupart des psychologues ont une appétence pour un champ d'expertise en particulier.
            Le mien est centré autour de la famille existante ou à venir.<br><br>
    <div class="box">
        <a href="#popup4" class="button" >
            Lire Plus...
        </a>
    </div>

<br>
        <p>
        <h2>THERAPIE DE COUPLES</h2>
            Avancer à deux est un exercice complexe qui nécessite parfois l’intervention
            d’un tiers afin de renouer avec la parole et de retrouver une harmonie de couple.<br><br>
    <div class="box">
        <a href="#popup5" class="button" >
            Lire Plus...
        </a>
    </div>


</div>

            </div>
        </div>

        {#popup soutien individuel#}
        <div id="popup2" class="overlay">
            <div class="popup2">
                <h2>SOUTIEN INDIVIDUEL</h2>
                <br>
                <h3> Enfants (à partir de 3ans), adolescents, adultes.</h3>
                <br>
                <p>   Différentes difficultés peuvent vous
                    amener à venir me rencontrer :

                <ul style="text-align: justify">
                    <li> émotionnelles (confiance en soi, dépression, angoisses,
                        troubles du sommeil, troubles obsessionnels compulsifs...)</li>


                    <li> scolaires (harcèlement, phobie scolaire, perte de motivation...)</li>
                    <li> comportementales (agressivité envers soi-même ou les autres, troubles
                        alimentaires, addictions...)</li>

                    <li> relationnelles (communication avec les autres, inhibitions,sentiment
                        d’incompréhension, solitude, harcèlement...)</li>

                    <li> épisodes de vie difficile (deuil, traumatismes, séparation, maladie, burn out, violence...)</li>

                </ul>

                <a href="#" class="cross">&times;</a>
            </div>
        </div>

        {#popup psychothérapie#}
        <div id="popup3" class="overlay">
            <div class="popup3">
                <h2>PSYCHOTHERAPIE</h2>
                <br>

                <ul style="text-align: justify">
                    <li> La psychothérapie est un travail d'introspection et d'évolution personnelle.
                    </li>
                    <li> En vous mettant au coeur de la réflexion, vous cheminerez à trouver vos propres façon de penser et valoriserez votre subjectivité</li>
                    <li> En apprenant à mieux vous connaître, vous pourrez vous engager dans un processus de changement éclairé par vos valeurs et convictions vous libérant ainsi de points de blocages,
                        répétitions...</li>

                </ul>

                <a href="#" class="cross">&times;</a>
            </div>
        </div>



        {#popup soutien a la parentalité#}
        <div id="popup4" class="overlay">
            <div class="popup4">
                <h2>SOUTIEN A LA PARENTALITE</h2>
                <br>
                <ul style="text-align: justify">
                    <li> accompagnement autour de la grossesse et de ses difficultés (angoisses, fausse couche, deuil d'enfant, post-partum...)
                    </li>
                    <li> investie dans le cadre de l'infertilité, je reçois de nombreux patients en parcours de procréation médicalement assistée (PMA)</li>
                    <li> j'accompagne également les enfants lorsqu'ils souhaitent discuter de leur histoire et origines (PMA, don de gamètes, adoption...)</li>

                    <li> je reçois également les parents qui veulent évoquer leur parentalité et les difficultésqu'ils peuvent rencontrer avec leur enfant</li>

                    <li> analyse de votre histoire familiale</li>

                </ul>

                <a href="#" class="cross">&times;</a>
            </div>
        </div>



        {#popup Thérapie de couples#}
        <div id="popup5" class="overlay">
            <div class="popup5">
                <h2>THERAPIE DE COUPLE</h2>
                <br>
                <ul style="text-align: justify">
                    <li> troubles de la communication
                    </li>
                    <li> incompréhension des besoins du partenaire et de soi-même
                    </li>
                    <li> perte de projets communs</li>
                    <li> difficultés sexuelles</li>
                    <li> adultères</li>
                    <li> séparation envisagée</li>

                </ul>

                <a href="#" class="cross">&times;</a>
            </div>
        </div>

</body>

{%endblock%}