{%extends 'base.html.twig'%}

{%block title%} Consultations {%endblock%}


{%block body%}
<body class="arrierePlanTrans">

        <div class="container">
            <div class="row">
                <div class="col" style="text-align: justify">
        <p >
        <h2> SOUTIEN INDIVIDUEL</h2>
        Venir consulter n’est pas signe d’échec,
        certains problèmes requièrent d’être pensés avec un professionnel neutre et bienveillant.
        Parfois s’entretenir avec un psychologue peut être nécessaire pour surmonter certaines difficultés.<br><br>
                    <a class="navStyle" href="#"> Lire plus...</a>
        </p>
<br>
        <p>
        <h2> PSYCHOTHERAPIE</h2>
        Le psychologue est présent pour vous accompagner dans vos réflexions,
        introspections à l’égard de votre histoire personnelle.<br><br>
                    <a class="navStyle" href="#"> Lire plus...</a>
        </p>
                </div>

                <div class="col-6 mx-4">

        <p class="ellipse">
            <br>
            Ensemble, nous <br>construirons un cadre sécure afin de <br>vous permettre
                    de cheminer vers un apaisement.
            <br>
            <br>
                    Nous réfléchirons à trouver votre propre grille de lecture afin de
                    promouvoir votre autonomie de pensée et d'action.
            <br>
            <br>
                Nous travaillerons à renforcer vos ressources et <br> vous libérer de fonctionnements
                    délétères.
            </p>
                </div>

<div class="col" style="text-align: justify">
        <p>
        <h2>SOUTIEN A LA PARENTALITE</h2>
            La plupart des psychologues ont une appétence pour un champ d'expertise en particulier.
            Le mien est centré autour de la famille existante ou à venir.<br><br>
    <a class="navStyle" href="#"> Lire plus...</a>
        </p>
<br>
        <p>
        <h2>THERAPIE DE COUPLES</h2>
            Avancer à deux est un exercice complexe qui nécessite parfois l’intervention
            d’un tiers afin de renouer avec la parole et de retrouver une harmonie de couple.<br><br>
    <a class="navStyle" href="#"> Lire plus...</a>
        </p>

</div>

            </div>
        </div>

</body>

{%endblock%}