{%extends 'base.html.twig'%}

{%block title%} MonPsy {%endblock%}


{%block body%}


    <body class="arrierePlan">
    <main>
        <div class="container">
            <div class="row">
                <div class="col">

                {#tentative de popup ou modal
                    <div class="box">
                        <a href="#popup" class="button">
                            <img style="width: 50px;" src="{{ asset('img/monpsy1.jpg') }}">
                        </a>
                    </div>

                    <div id="popup" class="overlay">
                        <div class="popup">
                            <p><img src="{{ asset('img/manifestpsy.jpg') }}"  class="monPsy"></p>
                            <a href="#" class="cross">&times;</a>
                        </div>
                    </div>#}


                </div>
                <div class="col">
        <img src="{{ asset('img/manifestpsy.jpg') }}"  class="monPsy">
                </div>
                <div class="col"></div>

            </div>
        </div>
    </main>
    </body>



    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}

{%endblock%}