{%extends 'base.html.twig'%}

{%block title%} MonPsy {%endblock%}


{%block body%}


    <body class="arrierePlan">
    <main>
        <img src="{{ asset('img/manifestpsy.jpg') }}">

    </main>
    </body>



    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}

{%endblock%}